<div class="convBlog module" id="" data-metrics-module="">
    <div class="module-header"><h2><%= editorial2.h2 %></h2></div>
    <div class="module-content">
        <div class="subHeading"><h4><%= editorial2.h4 %></h4></div>
        <div style="overflow: hidden; height: 0px; width: 100%;">#160;</div>
        <div class="blogImage">
            <a href="<%= editorial2.image.href %>" data-metrics-link="1">
                <img src="<%=           %>editorial2.image.src %"/>
            </a>
        </div>
        <div class="blogTitle">
            <a href="<%= editorial2.title.href %>" data-metrics-link="1">
                <%= editorial2.title.text %>
            </a>
        </div>
        <div class="blogContent">
            <a href="<%= editorial2.content.href %>" data-metrics-link="1">
                <%= editorial2.content.text %>
            </a>
        </div>
        <div class="linksRow">
            <a href="<%= editorial2.links.href %>" data-metrics-link="1">
                <%= editorial2.links.text %>
            </a>
        </div>
        <div class="authorRow">
            <a href="<%= editorial2.author.href %>">
                <%= editorial2.author.text %>
            </a>
        </div>
    </div>
</div>