<div class="convBlog module" id="" data-metrics-module="">
    <div class="module-header"><h2><%= editorial.h2 %></h2></div>
    <div class="module-content">
        <div class="subHeading"><h4><%= editorial.h4 %></h4></div>
        <div style="overflow: hidden; height: 0px; width: 100%;">#160;</div>
        <div class="blogImage">
            <a href="<%= editorial.image.href %>" data-metrics-link="1">
                <img src="<%= editorial.image.src %>"/>
            </a>
        </div>
        <div class="blogTitle">
            <a href="<%= editorial.title.href %>" data-metrics-link="1">
                <%= editorial.title.text %>
            </a>
        </div>
        <div class="blogContent">
            <a href="<%= editorial.content.href %>" data-metrics-link="1">
                <%= editorial.content.text %>
            </a>
        </div>
        <div class="linksRow">
            <a href="<%= editorial.links.href %>" data-metrics-link="1">
                <%= editorial.links.text %>
            </a>
        </div>
        <div class="authorRow">
            <a href="<%= editorial.author.href %>">
                <%= editorial.author.text %>
            </a>
        </div>
    </div>
</div>
